<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" nonce="<%= nonce %>">
</head>
<%- include('partials/header') %>

    <body class="bg-light">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">Connexion</h5>
                        <div class="card-body">
                            <!-- Ajouter ce bloc dans votre <body>, au-dessus du formulaire -->
                            <% if (typeof error !=='undefined' ) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= error %>
                                </div>
                                <% } %>

                                    <!-- Votre formulaire ici -->

                                    <form id="loginForm" action="/connexion" method="POST">
                                        <div class="form-group">
                                            <label for="username">Nom d'utilisateur:</label>
                                            <input type="text" id="username" name="username" class="form-control"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Mot de passe:</label>
                                            <input type="password" id="password" name="password" class="form-control"
                                                required placeholder="Entrez votre mot de passe">
                                        </div>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        </a>
                                        <button type="submit" class="btn btn-primary">Se connecter</button>
                                    </form>
                        </div>
                    </div>
                    <p class="text-center mt-2">
                        Pas de compte ? <a href="/inscription">Inscrivez-vous</a>
                    </p>
                </div>
            </div>
        </div>
    </body>

</html>