<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<%- include('partials/header') %>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Inscription</h5>
                    <div class="card-body">
                        <form id="registerForm">
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur:</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe:</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                            <div id="errorMessage" class="alert alert-danger mt-2" style="display: none;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('http://127.0.0.1:5000/users/new', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();  // Si la requête est réussie, on parse le JSON
                } else {
                    throw new Error('Inscription échouée');  // Si échec, on lance une exception
                }
            })
            .then(data => {
                window.location.href = 'http://127.0.0.1:3000/connexion';  // Redirection vers la page de connexion
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('errorMessage').style.display = 'block';  // Affiche le message d'erreur
                document.getElementById('errorMessage').textContent = 'Inscription échouée. Veuillez réessayer.';  // Message d'erreur
            });
        });
    </script>
</body>

</html>
